//@theme "/home/ethan/.local/share/rofi/themes/rounded-nord-dark.rasi"
//@theme "/home/ethan/.local/share/rofi/themes/rounded-purple-dark.rasi"
//@theme "/home/ethan/.local/share/rofi/themes/squared-nord.rasi"
@theme "/home/ethan/.local/share/rofi/themes/rounded-nord-dark.rasi"
